

.commande-body{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    height: auto;
    
}

.commande-plats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

